# Variables de entorno — NUNCA subir a GitHub
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
